.header {
    padding-top: 30px;
    width: calc(100% - 20px);
}

.header__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {}

.header__logo {}


.header__user {
    a {
        svg {
            fill: var(--color-black);
            transition: fill 0.2s ease-in-out;
        }
    }

    &:hover {
        svg {
            fill: var(--color-orange);
        }
    }
}

.header__login {
    display: none;
}

.header__signup {
    display: none;
}


@media screen and(min-width:641px) {
    .header {
        width: calc(100% - 40px);
    }

    .header__logined {
        display: flex;
        align-items: center;
        gap: 52px;

        a {
            font-size: var(--size-normal-small);
        }
    }

    .header__user {
        display: none;
    }

    .header__login {
        display: inline-block;

    }

    .header__signup {
        display: inline-block;
    }
}